# Feature Engineering Exercises

In [1]:
import pandas as pd
import numpy as np
import pydataset as pds

import seaborn as sns
import matplotlib.pyplot as plt

from scipy import stats
from sklearn.metrics import mean_squared_error, r2_score

from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression 
from math import sqrt
import warnings
warnings.filterwarnings('ignore')

Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount? The tip percentage?
Use select k best and recursive feature elimination to select the top 2 features for predicting tip amount. What are they?
Use select k best and recursive feature elimination to select the top 2 features for predicting tip percentage. What are they?
Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features your are selecting?
Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

Load the swiss dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).

1. Load the tips dataset.

In [2]:
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

A. Create a column named tip_percentage. This should be the tip amount divided by the total bill.

In [3]:
tips["tip_percentage"] = (tips.tip / tips.total_bill)
tips.head()

   total_bill   tip     sex smoker  day    time  size  tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2        0.059447
1       10.34  1.66    Male     No  Sun  Dinner     3        0.160542
2       21.01  3.50    Male     No  Sun  Dinner     3        0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2        0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4        0.146808

B. Create a column named price_per_person. This should be the total bill divided by the party size.

In [4]:
tips["price_per_person"] = (tips.total_bill / tips.size)
tips.head()

,total_bill,tip,sex,smoker,day,time,size,tip_percentage,price_per_person
0,16.99,1.01,Female,No,Sun,Dinner,2,0.059447,0.008704
1,10.34,1.66,Male,No,Sun,Dinner,3,0.160542,0.005297
2,21.01,3.50,Male,No,Sun,Dinner,3,0.166587,0.010763
3,23.68,3.31,Male,No,Sun,Dinner,2,0.139780,0.012131
4,24.59,3.61,Female,No,Sun,Dinner,4,0.146808,0.012597

C. Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount? The tip percentage?

D. Use select k best and recursive feature elimination to select the top 2 features for predicting tip amount. What are they?

E. Use select k best and recursive feature elimination to select the top 2 features for predicting tip percentage. What are they?

F. Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features your are selecting?

2. Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.