# Feature Engineering Exercises

In [1]:
import pandas as pd
import numpy as np
import pydataset as pds

import seaborn as sns
import matplotlib.pyplot as plt

from scipy import stats
from sklearn.metrics import mean_squared_error, r2_score


from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.feature_selection import RFE

from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression 
from math import sqrt
import warnings
warnings.filterwarnings('ignore')

1. Load the tips dataset.

In [2]:
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

A. Create a column named tip_percentage. This should be the tip amount divided by the total bill.

In [3]:
tips["tip_percentage"] = (tips['tip'] / tips['total_bill'])
tips.head()

   total_bill   tip     sex smoker  day    time  size  tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2        0.059447
1       10.34  1.66    Male     No  Sun  Dinner     3        0.160542
2       21.01  3.50    Male     No  Sun  Dinner     3        0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2        0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4        0.146808

B. Create a column named price_per_person. This should be the total bill divided by the party size.

In [4]:
tips["price_per_person"] = (tips['total_bill'] / tips['size'])
tips.head()

,total_bill,tip,sex,smoker,day,time,size,tip_percentage,price_per_person
0,16.99,1.01,Female,No,Sun,Dinner,2,0.059447,8.495000
1,10.34,1.66,Male,No,Sun,Dinner,3,0.160542,3.446667
2,21.01,3.50,Male,No,Sun,Dinner,3,0.166587,7.003333
3,23.68,3.31,Male,No,Sun,Dinner,2,0.139780,11.840000
4,24.59,3.61,Female,No,Sun,Dinner,4,0.146808,6.147500

C. Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount? The tip percentage?

D. Use select k best and recursive feature elimination to select the top 2 features for predicting tip amount. What are they?

In [10]:
# drop non-numeric features
tips = tips[["total_bill", "tip", "size", "tip_percentage", "price_per_person"]]

In [8]:
# parameters: f_regression stats test, give me 8 features
f_selector = SelectKBest(f_regression, k=2)

# find the top 2 X's correlated with y
f_selector.fit(tips['size'], tips['tip'])

# boolean mask of whether the column was selected or not. 
feature_mask = f_selector.get_support()

# get list of top K features. 
f_feature = tips.iloc[:,feature_mask].columns.tolist()

ValueError: Expected 2D array, got 1D array instead:
array=[2 3 3 2 4 4 2 4 2 2 2 4 2 4 2 2 3 3 3 3 2 2 2 4 2 4 2 2 2 2 2 4 2 4 2 3 3
 3 3 3 3 2 2 2 4 2 2 4 3 2 2 2 4 2 4 2 4 2 2 4 2 2 2 4 3 3 2 1 2 2 2 3 2 2
 2 2 2 4 2 2 2 2 1 2 2 4 2 2 2 2 2 2 2 2 2 4 2 2 2 2 2 2 3 2 2 2 2 2 2 2 2
 1 3 2 3 2 4 2 2 4 2 2 2 2 2 6 2 2 2 3 2 2 2 2 2 2 2 2 2 2 2 6 5 6 2 2 3 2
 2 2 2 2 3 4 4 5 6 4 2 4 4 2 3 2 2 3 2 4 2 2 3 2 2 2 2 2 2 2 2 2 4 2 3 4 2
 5 3 5 3 3 2 2 2 2 2 2 2 4 2 2 3 2 2 2 4 3 3 4 2 2 3 4 4 2 3 2 5 2 2 4 2 2
 1 3 2 2 2 4 2 2 4 3 2 2 2 2 2 2 3 3 2 2 2 2].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
f_feature

E. Use select k best and recursive feature elimination to select the top 2 features for predicting tip percentage. What are they?

F. Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features your are selecting?

2. Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

In [ ]:
def select_kbest():
    """
    Takes in the predictors (X), the target (y), and the number of features to select (k) and 
    returns the names of the top k selected features based on the SelectKBest class"""
    
    tips["tenure_years"] = round(telco.tenure / 12)
    return tips